footer {
  padding: 2rem;
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .icon-logo_black svg {
  width: 220px;
  height: auto;
}

.footer > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer > div > div:nth-child(3){
  grid-column: 1 / -1;
}
